.Timer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timeLeft {
    font-size: 7rem;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}