.Logo {
    margin: 2rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Passion One', cursive;
    flex-direction: column;
    width: 70%;
}

.Logo img {
    display: block;
    width: 100%;
    height: auto;
}

.Logo span {
    font-size: 10rem;
}

