.Game {
    height: 100%;
    display: flex;
    margin: 0 2rem;
}

.Sidebar {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 2rem;
}

.Gametable {
    flex: 1;
}