@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
.Scores {
    font-family: 'Passion One', cursive;
    flex: 1;
    width: 100%;
}
.Scores h1 {
    font-size: 5rem;
    text-align: center;
   
}
.Scores li {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    font-size: 2rem;
}

.Scores li > *:first-child {
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#controlpoints {
    display: flex;
}
#controlpoints p{
    color: #0F9D58;
}
#controlpoints:hover button {
    display: flex;
}
#controlpoints button{
    display: none;
    height: 30px;
}
#controlpoints button:hover{
    display: flex;
}

