.QuestionCard {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
}

#QuestionText {
    text-align: center;
}

#QuestionValue {
    font-weight: bolder;
    font-family: 'Passion One', cursive;
    font-weight: 500;
    font-size: 4rem;
    color: #F4B400;
}

.QuestionCard:hover {
    border: 5px solid #0F9D58;
    border-radius: 5px;
}